body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#app {
	width: 100%;
}

#title {
	float: left;
	font-size: 5em;
	width: 49%;
}

.half {
	width: 49%;
	height: 400px;
}

#preview {
	overflow: auto;
	float: right;
	padding: 5px;
}

#markdown {
	float: left;
}

#mdinput {
	width: 100%;
	height: 200px;
}

#credit {
	font-family: Helvetica, Arial;
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	right: 10px;
}
