#app {
	width: 100%;
}

#title {
	float: right;
	font-size: 5em;
	width: 49%;
}

.half {
	width: 49%;
	height: 400px;
}

#preview {
	overflow: scroll;
	float: left;
}

#markdown {
	float: right;
}

#mdinput {
	width: 100%;
	height: 200px;
}

